.bio-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-image {
  border-radius: 50%;
  max-width: 250px;
  margin-left: 2em;
  margin-right: 3em;
}

/** Bibbase styling */
img.bibbase_icon {
  display: inherit;
}

div#bibbase li img {
  display: inherit;
  margin: auto;
}

