.bio-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-image {
  border-radius: 50%;
  max-width: 250px;
  margin-left: 2em;
  margin-right: 3em;
}

/** Bibbase styling */
img.bibbase_icon {
  display: inherit;
}

div#bibbase li img {
  display: inherit;
  margin: auto;
}

#group_article div.bibbase_group i+span { display: none; }
#group_inProceedings div.bibbase_group i+span { display: none; }
#group_techreport div.bibbase_group i+span { display: none; }
#group_misc div.bibbase_group i+span { display: none; }
#group_article div.bibbase_group i:after { content: " Journal Articles" }
#group_inProceedings div.bibbase_group i:after { content: " Conference Proceedings" }
#group_techreport div.bibbase_group i:after { content: " Technical Reports" }
#group_misc div.bibbase_group i:after { content: " Patents / Patent Applications" }
